
<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light">
    <img src="assets/images/logo.png" class = "nav-brand p-1 " style="width: 165px;height: 55px;" >
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent" style="margin-left: 1vmax;">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" routerLink="all-books">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="add-book">Add Book</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="search">Search</a>
            </li>
            <li class="nav-item" style="margin-left: 52vmax; color: chartreuse;">
                <label class=" label mt-2" >Admin Account</label>
              </li>
            <li class="nav-item" style="margin-left: 1vmax;">
                <a class="nav-link" (click)="logout()">Logout</a>            
            </li>
        </ul>
    </div>
</nav>